.myMessage {
  text-align: right;
  background-color: #befcf9;
  padding-right: 10px;
  border-radius: 10px 0px 10px 10px;
}

.otherMessage {
  text-align: left;
  background-color: rgba(230, 230, 230, 1);
  padding-left: 10px;
  border-radius: 0px 10px 10px 10px;
}

.message,
.messageName {
  margin-top: 5px;
  margin-bottom: 0px;
}

.message {
  font-size: large;
  padding-bottom: 8px;
}

.center {
  margin-left: calc(50% - 150px);
  margin-right: calc(50% - 150px);
}

.mySvg {
  fill: #befcf9;
  position: absolute;
  transform: translateX(8px);
}

.otherSvg {
  fill: rgba(230, 230, 230, 1);
  position: absolute;
  transform: translateX(-16px);
}
