@media (max-width: 576px) {
  .SignUp {
    width: 100%;
  }
  .SignUp-FirstCard {
    height: 250px;
  }
  .SignUp-image {
    margin-top: 20%;
  }

  .SignUp-Form {
    margin: 10%;
  }
}
@media (min-width: 577px) {
  .SignUp {
    width: 750px;
  }
  .SignUp-image {
    margin-top: 30%;
  }

  .SignUp-Form {
    margin: 30% 10% 10% 10%;
  }
}

.SignUp-image {
  margin-left: 15%;
  color: white;
  margin-right: 25%;
}

.SignUp-EraseBorder {
  border-color: black;
  border-radius: 0%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 10px;
}

.SignUp-FormGroup {
  margin-bottom: 30px;
}

.SignUp-Button {
  color: white;
  background-color: hsl(224, 58%, 33%);
  align-self: center;
  font-weight: 600;
  display: flexbox;
  width: 100%;
  height: 45px;
}

.SignUp-SignIn {
  margin-top: 5px;
  text-align: center;
}
